
<f:layout name="Default" />
<f:section name="Main">

    <div class="sliderwrap clearafter">
        <f:cObject typoscriptObjectPath="lib.slider" />
    </div>
    
    <div class="contentwrap wrap2colsContentRight clearafter">
        
        <div class="twocol-main-right">
            <div class="colinside">
                <f:cObject typoscriptObjectPath="lib.content " /> 
            </div>
        </div>
        
        <div class="twocol-left">
            <div class="colinside">
                <f:if condition="{secondMenuLeft}" >
                <f:cObject typoscriptObjectPath="lib.secondNavi" />
                </f:if>
                <f:cObject typoscriptObjectPath="lib.contentRight " /> 
            </div>
        </div>
    
    </div>
</f:section>