<div class="tx-t3dev-slider">
    <div class="hidden">
        <div class="imgwidth">{slider.sliderImgwidth}</div>
        <div class="imgheight">{slider.sliderImgheight}</div>
    </div>
    <div id="slideshowWrapper">


        <div class="tx-responsive-slider">&nbsp;</div>
    </div>
</div>
<div class="container">
    <div id="featured"> 
        <f:for each="{sliderimages}" as="slide" >
            <div class="sliderdimension" >
                <a href="{f:uri.page(pageUid:slide.sliderLink)}">
                    <f:image src="uploads/responsivetemplate/slider/{slide.sliderImage}"  alt="{slide.sliderHeadline}"  />
                    <f:if condition="{slide.sliderHeadline}">
                    <div class="orbit-caption">
                        <div class="slider-headline">{slide.sliderHeadline}</div>
                        <div class="slider-text"><f:format.nl2br>{slide.sliderText}</f:format.nl2br></div>
                    </div>
                    </f:if>
                </a>
            </div>

  
</f:for>
</div></div>


